In [ ]:
# Google Colaboratoryを使用する場合は、下記のコメントアウトを外し、実行してください

In [ ]:
# # 下記セルを実行すると、authorization codeの入力を求められます。
# # 出力されたリンク先をクリックし、Googleアカウントにログインし、
# # authorization codeをコピーし、貼り付けをおこなってください。
# import os
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# working_dir = 'MLSys_100Knocks' #　※※自分で作成したフォルダパスが異なる場合こちらを変更してください。※※
# path = f'/content/drive/MyDrive/{working_dir}/本章/1章'
# os.chdir(path)

# 🍕 １章 分析に向けた準備を行う１０本ノック

> ここでは、あるピザチェーンの売上の推移を分析していきます。 <br>
> データの中身を理解し、分析しやすい形に加工していくプロセスを学びます。

### ノック１：データを全て読み込んでみよう

In [1]:
import pandas as pd

In [3]:
# master data
m_area = pd.read_csv("input/m_area.csv")
m_store = pd.read_csv("input/m_store.csv")
# transaction data
tbl_order_4 = pd.read_csv("input/tbl_order_202004.csv")
tbl_order_5 = pd.read_csv("input/tbl_order_202005.csv")
tbl_order_6 = pd.read_csv("input/tbl_order_202006.csv")

### ノック２：データを結合（ユニオン）してみよう

In [4]:
tbl_all = pd.concat([tbl_order_4, tbl_order_5, tbl_order_6], axis=0, ignore_index=True)
tbl_all.head()

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2

In [7]:
# 検算
len(tbl_all) == (len(tbl_order_4) + len(tbl_order_5) + len(tbl_order_6))

True

### ノック３：フォルダ内のファイル名を一覧化してみよう

In [9]:
import os
import glob

In [11]:
current_dir = os.getcwd() #カレントディレクトリ（現在位置）
os.listdir(current_dir)

['.DS_Store',
 'input',
 'output',
 'study_prearation.ipynb',
 'test_prearation.ipynb',
 '.ipynb_checkpoints',
 'answer_preparation.ipynb']

In [17]:
# tbl_orderに限って取得
path = os.path.join(current_dir, "input/tbl_order_*.csv") #取得したいパスを作成
tbl_order_files =  glob.glob(path)
tbl_order_files

['/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/main_chapter/chapter01/input/tbl_order_202006.csv',
 '/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/main_chapter/chapter01/input/tbl_order_202004.csv',
 '/Users/t/Documents/JupyterLab/ml_academic/various/offline/books/MLSys_100Knocks/main_chapter/chapter01/input/tbl_order_202005.csv']

### ノック４：複数データを結合（ユニオン）してみよう

In [23]:
order_df = pd.DataFrame()

for i, file in enumerate(tbl_order_files):
    tbl_df = pd.read_csv(file)
    order_df = pd.concat([order_df, tbl_df], axis=0, ignore_index=True)
    print("{} {}: {}".format(i, file.split("/")[-1], len(order_df)))

0 tbl_order_202006.csv: 233301
1 tbl_order_202004.csv: 466561
2 tbl_order_202005.csv: 707700

In [24]:
order_df.shape

(707700, 10)

### ノック５：データの統計量を確認しよう

In [25]:
order_df.isnull().sum()

order_id             0
store_id             0
customer_id          0
coupon_cd            0
sales_detail_id      0
order_accept_date    0
delivered_date       0
takeout_flag         0
total_amount         0
status               0
dtype: int64

In [27]:
order_df.describe()

,order_id,store_id,coupon_cd,sales_detail_id,takeout_flag,total_amount,status
count,7.077000e+05,707700.000000,707700.000000,7.077000e+05,707700.000000,707700.000000,707700.000000
mean,5.000989e+07,103.934565,49.514363,5.000335e+07,0.259864,2960.651814,3.082908
std,2.889226e+07,86.374451,28.882605,2.885575e+07,0.438560,954.378771,2.836278
min,2.200000e+01,1.000000,0.000000,4.600000e+01,0.000000,698.000000,1.000000
25%,2.501247e+07,51.000000,25.000000,2.504502e+07,0.000000,2308.000000,2.000000
50%,4.999655e+07,99.000000,49.000000,5.004506e+07,0.000000,2808.000000,2.000000
75%,7.508014e+07,148.000000,75.000000,7.499707e+07,1.000000,3617.000000,2.000000
max,9.999980e+07,999.000000,99.000000,9.999965e+07,1.000000,5100.000000,9.000000

In [28]:
order_df.dtypes

order_id              int64
store_id              int64
customer_id          object
coupon_cd             int64
sales_detail_id       int64
order_accept_date    object
delivered_date       object
takeout_flag          int64
total_amount          int64
status                int64
dtype: object

In [29]:
order_df["total_amount"].describe()

count    707700.000000
mean       2960.651814
std         954.378771
min         698.000000
25%        2308.000000
50%        2808.000000
75%        3617.000000
max        5100.000000
Name: total_amount, dtype: float64

In [31]:
print(order_df["delivered_date"].min())
print(order_df["delivered_date"].max())

2020-04-01 11:10:00
2020-06-30 22:55:56

### ノック６：不要なデータを除外しよう

In [32]:
m_store.tail()

     store_id store_name area_cd
192       193        桐生店      GU
193       194        高崎店      GU
194       195        館林店      GU
195       196        前橋店      GU
196       999       保守担当      TK

In [33]:
len(order_df[order_df["store_id"]==999])

3820

In [36]:
order_df = order_df[order_df["store_id"] != 999]
order_df

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2
...,...,...,...,...,...,...,...,...,...,...
707695,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
707696,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
707697,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
707698,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
707699,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

### ノック７：マスタデータを結合（ジョイン）してみよう

In [38]:
order_df = pd.merge(order_df, m_store, on="store_id", how="left")
order_df

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2,西東京店,TK
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2,西葛西店,TK
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2,新座店,SA
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2,江東店,TK
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2,東尾久店,TK
...,...,...,...,...,...,...,...,...,...,...,...,...
703875,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1,入間店,SA
703876,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2,鎌倉店,KN
703877,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2,江戸川店,TK
703878,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2,松戸店,CH
703879,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2,狭山店,SA

In [40]:
order_df = pd.merge(order_df, m_area, on="area_cd", how="left")
order_df

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2,西東京店,TK,東京,東京
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2,西葛西店,TK,東京,東京
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2,新座店,SA,埼玉,埼玉
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2,江東店,TK,東京,東京
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2,東尾久店,TK,東京,東京
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1,入間店,SA,埼玉,埼玉
703876,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2,鎌倉店,KN,神奈川,神奈川
703877,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2,江戸川店,TK,東京,東京
703878,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2,松戸店,CH,千葉,千葉
703879,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2,狭山店,SA,埼玉,埼玉

### ノック８：マスタが存在しないコードに名称を設定しよう

>|takeout_flag||
|:-:|:-|
|0|デリバリー|
|1|お持ち帰り|
>
>|status||
|:-:|:-|
|0|受付|
|1|お支払い済|
|2|お渡し済|
|9|キャンセル|

In [48]:
order_df.loc[order_df["takeout_flag"] == 0, "takeout_name"] = "デリバリー"

In [49]:
order_df.loc[order_df["takeout_flag"] == 1, "takeout_name"] = "お持ち帰り"

In [50]:
order_df

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2,西東京店,TK,東京,東京,デリバリー
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2,西葛西店,TK,東京,東京,デリバリー
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2,新座店,SA,埼玉,埼玉,デリバリー
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2,江東店,TK,東京,東京,デリバリー
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2,東尾久店,TK,東京,東京,デリバリー
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1,入間店,SA,埼玉,埼玉,お持ち帰り
703876,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2,鎌倉店,KN,神奈川,神奈川,デリバリー
703877,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2,江戸川店,TK,東京,東京,デリバリー
703878,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2,松戸店,CH,千葉,千葉,デリバリー
703879,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2,狭山店,SA,埼玉,埼玉,デリバリー

In [51]:
order_df["status"].unique()

array([2, 9, 1])

In [52]:
order_df.loc[order_df["status"] == 0, "status_name"] = "受付"
order_df.loc[order_df["status"] == 1, "status_name"] = "お支払済み"
order_df.loc[order_df["status"] == 2, "status_name"] = "お渡し済み"
order_df.loc[order_df["status"] == 9, "status_name"] = "キャンセル"

In [53]:
order_df

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2,西東京店,TK,東京,東京,デリバリー,お渡し済み
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2,西葛西店,TK,東京,東京,デリバリー,お渡し済み
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2,新座店,SA,埼玉,埼玉,デリバリー,お渡し済み
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2,江東店,TK,東京,東京,デリバリー,お渡し済み
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2,東尾久店,TK,東京,東京,デリバリー,お渡し済み
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1,入間店,SA,埼玉,埼玉,お持ち帰り,お支払済み
703876,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2,鎌倉店,KN,神奈川,神奈川,デリバリー,お渡し済み
703877,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2,江戸川店,TK,東京,東京,デリバリー,お渡し済み
703878,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2,松戸店,CH,千葉,千葉,デリバリー,お渡し済み
703879,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2,狭山店,SA,埼玉,埼玉,デリバリー,お渡し済み

### ノック９：分析基礎テーブルを出力してみよう

In [ ]:
output_dir = os.path.join(current_dir, "output")
os.makedirs(output_dir, exist_ok=True)
output_file = os.path.join(output_dir, "order_df.csv")
order_df.to_csv(output_file, index=False)

### ノック１０：セルを整理して使いやすくしよう